@model College.UserProfile.Core.Models.UserProfile
@{
    ViewBag.Title = "User Profile";
}

<h2>User Profile</h2>

<script id="customMessageTemplate" type="text/html">
    <em class="customMessage" data-bind='validationMessage: field'></em>
</script>
<p id="infoMessages" class="message-success"></p>
<fieldset><legend></legend>
    <div data-bind='validationOptions: { messageTemplate: "customMessageTemplate" }'>
        <table>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                <label>First Name:</label>
                            </td>
                            <td>
                                <input type="text" data-bind="value: viewModel.user.FirstName" id="FirstName" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Middle Name:</label>
                            </td>
                            <td>
                                <input type="text" data-bind="value: viewModel.user.MiddleName" id="MiddleName" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Last Name:</label>
                            </td>
                            <td>
                                <input type="text" data-bind="value: viewModel.user.LastName" id="LastName" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Home Town:</label>
                            </td>
                            <td>
                                <input type="text" data-bind="value: viewModel.user.HomeTown" id="HomeTown" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Zip Code:</label>
                            </td>
                            <td>
                                <input type="text" data-bind="value: viewModel.user.ZipCode" id="ZipCode" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Mobile:</label>
                            </td>
                            <td>
                                <input type="text" data-bind="value: viewModel.user.MobileNo" id="MobileNo" />
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>Email:</label>
                            </td>
                            <td>
                                <input type="text" id="Email" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>About User:</label>
                            </td>
                            <td>
                                <textarea id="AboutUser" rows="5" data-bind="value: viewModel.user.AboutUser"></textarea>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>
                    <table>
                        <tr>
                            <tr>
                                <td>
                                    <label>Gender:</label>
                                </td>
                                <td>
                                      <div data-bind="foreach: GenderOption">
                                    <input name="Gender"" type="radio" data-bind="value: LookupID, trueFalseRadioButton: $root.viewModel.user.Gender" />
                                    <span data-bind="text: LookupValue" />
                                </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Languages Spoken:</label>
                                </td>
                                <td>
                                    <select id="LanguagesSpoken" data-placeholder="Choose Languages..." data-bind="options: $root.LanguageOption, selectedOptions: viewModel.UserLanguages,
    optionsValue: 'LookupID', optionsText: 'LookupValue', chosen: {}"
                                                 multiple style="width: 350px;">
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Date Of Birth:</label>
                                </td>
                                <td>
                                    <input type="text" data-bind="datepicker: viewModel.user.BirthDate, datepickerOptions: { changeMonth: true, changeYear: true }" id="BirthDate" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Photo:</label>
                                </td>
                                <td>
                                    <img data-bind="visible: viewModel.user.UserPhoto() != null, attr: { src: viewModel.user.UserPhoto }" width="100px" height="100px"  />
                                    <form id="image-upload-form">
                                        <input type="file" name="photo" id="files" accept="image/*;capture=camera">
                                        <button type="submit" data-bind="click: uploadimage">Upload Image</button>
                                      </form>
                                    @*<input type="file" data-bind="value: viewModel.user.UserPhoto, fileUpload: viewModel.user.UserPhoto, url: 'http://localhost:27471/upload/'">
                                    <script src="{{ STATIC_URL }}html5knockoutImagePreview.js"></script>​
                                    <input type="text" data-bind="value: viewModel.user.UserPhoto" id="UserPhoto" />*@
                                </td>
                            </tr>
                        </tr>
                    </table>
                </td>
            </tr>
            </tr>
            <tr>
                <td colspan="3">&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>
           
            <tr>
                <td colspan="3">
                    <table>
                        <thead>
                            <tr>
                                <th>Delete</th>
                                <th>College</th>
                                <th>Year</th>
                                <th>Degree Type</th>
                                <th>Course</th>
                                <th>Major</th>
                            </tr>
                        </thead>
                         <tbody data-bind="foreach: viewModel.UserEducationDetail">
                            <tr>
                                <td><a href="#" data-bind="click: $parent.removeCollegeDetails">Remove</a></td>
                                <td><input type="text" data-bind="value: CollegeId" id="CollegeId" /></td>
                                <td><input type="text" data-bind="value: PassingYear" id="PassingYear" /></td>
                                <td><select id="DegreeTypeId" data-bind="options: $root.DegreeTypeOption, value: DegreeTypeId, optionsValue: 'LookupID', optionsText: 'LookupValue'"></select>
                                </td>
                                <td><select id="CourseId" data-bind="options: $root.CourseOption, value: CourseId, optionsValue: 'LookupID', optionsText: 'LookupValue'"></select></td>
                                <td><select id="SubjectId" data-bind="options: $root.SubjectOption, value: SubjectId, optionsValue: 'LookupID', optionsText: 'LookupValue'"></select></td>
                            </tr>
                        </tbody>
                         <tr>
                <td colspan="6"><button data-bind="click: addCollegeDetails">+ Add Another</button>
                    </td>
                </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <br />
    <button type="submit" data-bind="click: SaveUserProfile">Save</button>
</fieldset>

@section scripts
{
    <link rel="stylesheet" href="~/Content/jquery-ui-1.10.3.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/prism.css">
    <link rel="stylesheet" href="~/Content/chosen.min.css">
    @Scripts.Render("~/Scripts/chosen.jquery.min.js")
    @Scripts.Render("~/Scripts/prism.js")
    @Scripts.Render("~/Scripts/knockout.mapping-latest.js")
    @Scripts.Render("~/Scripts/Custom.js")
    @Scripts.Render("~/Scripts/User/ProfileViewModel.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.10.3.js")
    <script language="javascript" type="text/javascript">

        $(document).ready(function () {
            var userViewModel = new UserViewModel();
            userViewModel.loadUserProfile();
        });

    </script>
}
