@using Resources;
@{
    ViewBag.Title = LabelResources.UserProfilePageTitleText;
}

<h2>@LabelResources.UserProfilePageTitleText</h2>
<script id="customMessageTemplate" type="text/html">
    <em class="customMessage" data-bind='validationMessage: field'></em>
</script>

<div id="pageform" hidden>
    <!-- set the context of working with the user part of the data-model -->
    <form class="well form form-horizontal" data-bind='validationOptions: { messageTemplate: "customMessageTemplate" }'>
        <div class="control-group">
            <div class="controls">
                <p id="infoMessages" class="message-success"></p>
            </div>
        </div>
        <table style="width: 100%">
            <tr>
                <td style="width: 50%; vertical-align: top">
                    <div class="control-group">
                        <label class="control-label" for="FirstName">@LabelResources.FirstNameLabel</label>
                        <span class="controls">
                            <input type="text" data-bind="value: viewModel.user.FirstName" id="FirstName" />
                        </span>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="MiddleName">@LabelResources.MiddleNameLabel</label>
                        <span class="controls">
                            <input type="text" data-bind="value: viewModel.user.MiddleName" id="MiddleName" />
                        </span>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="LastName">@LabelResources.LastNameLabel</label>
                        <span class="controls">
                            <input type="text" data-bind="value: viewModel.user.LastName" id="LastName" />
                        </span>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="HomeTown">@LabelResources.HomeTownLabel</label>
                        <span class="controls">
                            <input type="text" data-bind="value: viewModel.user.HomeTown" id="HomeTown" />
                        </span>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="ZipCode">@LabelResources.ZipCodeLabel</label>
                        <span class="controls">
                            <input type="text" data-bind="value: viewModel.user.ZipCode" id="ZipCode" />
                        </span>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="MobileNo">@LabelResources.MobileNoLabel</label>
                        <span class="controls">
                            <input type="text" data-bind="value: viewModel.user.MobileNo" id="MobileNo" />
                        </span>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="AboutUser">@LabelResources.AboutUserLabel</label>
                        <span class="controls">
                            <textarea id="AboutUser" rows="5" data-bind="value: viewModel.user.AboutUser"></textarea>
                        </span>
                    </div>
                </td>
                <td style="width: 50%; vertical-align: top">
                    <div class="control-group">
                        <label class="control-label" for="Gender">@LabelResources.GenderLabel</label>
                        <span class="controls">
                            <span data-bind="foreach: GenderOption">
                                <input id="Gender" type="radio" data-bind="value: LookupID, trueFalseRadioButton: $root.viewModel.user.Gender" />
                                <span data-bind="text: LookupValue" />
                            </span>
                        </span>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="LanguagesSpoken">@LabelResources.LanguagesSpokenLabel</label>
                        <span class="controls">
                            <select id="LanguagesSpoken"
                                multiple data-placeholde="Choose Languages..."
                                data-bind="chosen: { source: $root.LanguageOption, selectedValue: viewModel.UserLanguages, valueProp: 'LookupID', displayProp: 'LookupValue' }"
                                style="width: 350px;">
                            </select>
                        </span>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="BirthDate">@LabelResources.BirthDateLabel</label>
                        <span class="controls">
                            <input type="text" readonly="true" data-bind="datepicker: viewModel.user.BirthDate, datepickerOptions: { changeMonth: true, changeYear: true }" id="BirthDate" />
                        </span>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="UserPhoto">@LabelResources.UserPhotoLabel</label>
                        <span class="controls">
                            <img data-bind="visible: viewModel.user.UserPhoto() != null, attr: { src: viewModel.user.UserPhoto }" width="100px" height="100px" />
                            <form id="image-upload-form">
                                <input type="file" name="photo" id="files" accept="image/*;capture=camera">
                                <button type="submit" data-bind="click: uploadimage">Upload Image</button>
                            </form>
                        </span>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="UserFieldOfInterest">@LabelResources.UserFieldOfInterestLabel</label>
                        <span class="controls">
                            <span data-bind="foreach: CourseFieldOption">
                                <input type="checkbox" data-bind="checkedValue: LookupID, checked: $root.viewModel.UserFieldOfInterest" />
                                <label data-bind="text: LookupValue" />
                            </span>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h2>@LabelResources.InstituteSectionTitleText</h2>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table>
                        <tbody data-bind="foreach: CollegeDetails">
                            <tr>
                                <td><a href="#" data-bind="click: $parent.removeCollegeDetails">Remove</a></td>
                                <td>
                                    <select id="CollegeId" data-bind="options: $root.CollegeOption, value: CollegeId, optionsValue: 'LookupID', optionsText: 'LookupValue', optionsCaption: globalResources.resources.CollegePlaceholderText"></select>
                                </td>
                                <td>
                                    <input placeholder="@ClientResources.InstitutePassingYearPlaceholderText" type="text" data-bind="value: PassingYear" id="CollegePassingYear" /></td>
                                <td>
                                    <select id="DegreeTypeId" data-bind="options: $root.DegreeTypeOption, value: DegreeTypeId, optionsValue: 'LookupID', optionsText: 'LookupValue', optionsCaption: globalResources.resources.DegreeTypePlaceholderText "></select>
                                </td>
                                <td>
                                    <select id="CourseId" style="width:300px" data-bind="options: $root.loadDependentCourses(DegreeTypeId), value: CourseId, optionsValue: 'LookupID', optionsText: 'LookupValue', optionsCaption: globalResources.resources.CoursePlaceholderText"></select>
                                </td>
                                <td>
                                    <select id="SubjectId" style="width:300px" data-bind="options: $root.loadDependentSubjects(CourseId), value: SubjectId, optionsValue: 'LookupID', optionsText: 'LookupValue', optionsCaption: globalResources.resources.SubjectPlaceholderText"></select>
                                </td>
                            </tr>
                        </tbody>
                        <tr>
                            <td colspan="6">
                                <button data-bind="click: addCollegeDetails">@LabelResources.AddAnotherInstituteButtonText</button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h2></h2>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table>
                        <tbody data-bind="foreach: SchoolDetails">
                            <tr>
                                <td><a href="#" data-bind="click: $parent.removeSchoolDetails">Remove</a></td>
                                <td>
                                    <input type="text" placeholder="@ClientResources.SchoolNamePlaceholderText" data-bind="value: SchoolName" id="SchoolName" /></td>
                                <td>
                                    <input placeholder="@ClientResources.InstitutePassingYearPlaceholderText" type="text" data-bind="value: PassingYear" id="SchoolPassingYear" /></td>
                            </tr>
                        </tbody>
                        <tr>
                            <td colspan="2">
                                <button data-bind="click: addSchoolDetails">@LabelResources.AddAnotherInstituteButtonText</button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br />
        <button type="submit" data-bind="click: SaveUserProfile">@LabelResources.SaveUserProfileButtonText</button>
    </form>
</div>
@section scripts
{
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/chosen.css">
    @Scripts.Render("~/Scripts/knockout.mapping-latest.js")
    @Scripts.Render("~/Scripts/Custom.js")
    @Scripts.Render("~/Scripts/User/ProfileViewModel.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.10.3.js")
    @Scripts.Render("~/Scripts/underscore.js")
    @Scripts.Render("~/Scripts/chosen.jquery.js")
    @Scripts.Render("~/Scripts/cb-ko-binding-chosen.js")
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            var userViewModel = new UserViewModel();

            userViewModel.load();
        });

    </script>
}
