@model College.UserProfile.Core.Models.UserProfile
@{
    ViewBag.Title = "User Profile";
}

<h2>User Profile</h2>

<script id="customMessageTemplate" type="text/html">
    <em class="customMessage" data-bind='validationMessage: field'></em>
</script>
<p id="infoMessages" class="message-success"></p>
<fieldset><legend></legend>
    <div data-bind='validationOptions: { messageTemplate: "customMessageTemplate" }'>
        <table>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                <label>First Name:</label>
                            </td>
                            <td>
                                <input type="text" data-bind="value: viewModel.user.FirstName" id="FirstName" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Middle Name:</label>
                            </td>
                            <td>
                                <input type="text" data-bind="value: viewModel.user.MiddleName" id="MiddleName" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Last Name:</label>
                            </td>
                            <td>
                                <input type="text" data-bind="value: viewModel.user.LastName" id="LastName" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Home Town:</label>
                            </td>
                            <td>
                                <input type="text" data-bind="value: viewModel.user.HomeTown" id="HomeTown" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Zip Code:</label>
                            </td>
                            <td>
                                <input type="text" data-bind="value: viewModel.user.ZipCode" id="ZipCode" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Mobile:</label>
                            </td>
                            <td>
                                <input type="text" data-bind="value: viewModel.user.MobileNo" id="MobileNo" />
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>Email:</label>
                            </td>
                            <td>
                                <input type="text" id="Email" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>About User:</label>
                            </td>
                            <td>
                                <textarea id="AboutUser" rows="5" data-bind="text: viewModel.user.AboutUser"></textarea>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>
                    <table>
                        <tr>
                            <tr>
                                <td>
                                    <label>Gender:</label>
                                </td>
                                <td>
                                      <div data-bind="foreach: GenderOption">
                                    <input name="Gender"" type="radio" data-bind="value: LookupID, trueFalseRadioButton: $root.viewModel.user.Gender" />
                                    <span data-bind="text: LookupValue" />
                                </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Languages Spoken:</label>
                                </td>
                                <td>
                                    <select id="LanguagesSpoken" data-placeholder="Choose Languages..." data-bind="options: $root.LanguageOption, selectedOptions: viewModel.UserLanguages,
    optionsValue: 'LookupID', optionsText: 'LookupValue', chosen: {}"
                                                 multiple style="width: 350px;">
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Date Of Birth:</label>
                                </td>
                                <td>
                                    <input type="text" data-bind="datepicker: viewModel.user.BirthDate, datepickerOptions: { changeMonth: true, changeYear: true }" id="BirthDate" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Photo:</label>
                                </td>
                                <td>
                                    <input type="text" data-bind="value: viewModel.user.UserPhoto" id="UserPhoto" />
                                </td>
                            </tr>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <button type="submit">Save</button>
</fieldset>

@section scripts
{
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/prism.css">
    <link rel="stylesheet" href="~/Content/chosen.min.css">
    @Scripts.Render("~/Scripts/chosen.jquery.min.js")
    @Scripts.Render("~/Scripts/prism.js")
    @Scripts.Render("~/Scripts/knockout.mapping-latest.js")
    @Scripts.Render("~/Scripts/Custom.js")
    @Scripts.Render("~/Scripts/User/ProfileViewModel.js")
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script language="javascript" type="text/javascript">

        $(document).ready(function () {
            var userViewModel = new UserViewModel();
            userViewModel.loadUserProfile();
        });

    </script>
}
