<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/bootstrap-theme")
</head>
<body>
    <header>
        <div class="content-wrapper">
            @if (User.Identity.IsAuthenticated)
            {
                <div>Logged In As </div> @Html.ActionLink(User.Identity.Name, "", "Profile", null, new { area = "User" });
                <div>@Html.ActionLink("Logout", "Logout", "Login", null, new { area = "User" })</div>
            }
            else
            {
                <div>@Html.ActionLink("Login", "", "Login", null, new { area = "User" })</div>
            }
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
        <div id="loading">
            <img src="/images/loading.gif" alt="Loading" />
        </div>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>@*&copy; @DateTime.Now.Year Copyright*@</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/knockout-validation")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
