@using Resources;
@{
    ViewBag.Title = LabelResources.CollegeSelectionPageTitleText;
}

<h2>@LabelResources.CollegeSelectionPageTitleText</h2>
<script id="customMessageTemplate" type="text/html">
    <em class="customMessage" data-bind='validationMessage: field'></em>
</script>
<p id="infoMessages" class="message-success"></p>
<div id="pageform" hidden data-bind='validationOptions: { messageTemplate: "customMessageTemplate" }'>
    <table>
        <thead>
            <tr data-bind="click: sortTable">
                <th style="width: 100px"></th>
                <th>College Logo
                </th>
                <th data-column="CollegeName">Name
                </th>
                <th data-column="CityId">City
                </th>
                <th data-column="StateId">State
                </th>
                <th data-column="CountryId">Country
                </th>
            </tr>
        </thead>
        <tbody data-bind="foreach: currentPage">
            <tr>
                <td>
                    <input type="checkbox" data-bind="checkedValue: CollegeId, checked: $root.userShortListedColleges" />
                </td>
                <td>
                    <img data-bind="attr: { src: CollegeLogo }" width="100px" height="100px" />
                </td>
                <td>
                    <label data-bind="text: CollegeName" />
                </td>
                <td>
                    <label data-bind="text: CityId" />
                </td>
                <td>
                    <label data-bind="text: StateId" />
                </td>
                <td>
                    <label data-bind="text: CountryId" />
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">
                    <button data-bind="click: previousPage" class="btn"><i class="icon-step-backward">@LabelResources.PagerPrevButtonText</i></button>
                    <label data-bind="text: currentPageIndex() + 1" class="badge"></label>
                    <button data-bind="click: nextPage" class="btn"><i class="icon-step-forward">@LabelResources.PagerNextButtonText</i></button>
                </td>
            </tr>
        </tfoot>
    </table>
    <br />
    <button type="submit" data-bind="click: SaveCollegeShortListing">@LabelResources.SaveUserProfileButtonText</button>
</div>
@section scripts
{
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/chosen.css">
    @Scripts.Render("~/Scripts/knockout.mapping-latest.js")
    @Scripts.Render("~/Scripts/Custom.js")
    @Scripts.Render("~/Scripts/User/CollegeSelection.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.10.3.js")
    @Scripts.Render("~/Scripts/underscore.js")
    @Scripts.Render("~/Scripts/chosen.jquery.js")
    @Scripts.Render("~/Scripts/cb-ko-binding-chosen.js")
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            var collegeSelectionViewModel = new CollegeSelectionViewModel();
            collegeSelectionViewModel.load();
        });

    </script>
}
