@using Resources;
@{
    if (!Request["lang"].IsEmpty())
    {
        Culture = UICulture = Request["lang"];
    }
    ViewBag.Title = LabelResources.SignInPageTitleText;
    Layout = null;
}
<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    @*
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">*@

    <title>Signin</title>
</head>
<body>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var apikey = '@(System.Configuration.ConfigurationManager.AppSettings["FacebookAPIKey"].ToString())'
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=" + apikey;
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <script id="customMessageTemplate" type="text/html">
        <p data-bind="validationMessage: field"></p>
    </script>

    <div id="dialog-form" class="container" hidden title="@LabelResources.SignInPageTitleText">
        <form class="form-signin" role="form">
            <table>
                <tr>
                    <td style="width: 50%">
                        <fb:login-button width="200" height="200" max_rows="1" scope="user_photos,email" show_faces="false"></fb:login-button>
                    </td>
                    <td style="width: 50%">
                        @*<h2 class="form-signin-heading">Please sign in</h2>*@
                        <div>
                            <button class="btn btn-lg btn-primary btn-block" id="btnNewUser" data-bind="click: ToggleNewUser">@LabelResources.NewUserQuestionText</button>
                            <button class="btn btn-lg btn-primary btn-block" id="btnExistingUser" data-bind="click: ToggleExistingUser">@LabelResources.ExistingUserQuestionText</button>
                        </div>
                        <div>
                            <p id="infoMessages" class="message-error"></p>
                            @*
                            <ul>
                                <li data-bind="validationMessage: EmailAddress"></li>
                                <li data-bind="validationMessage: Password"></li>
                                <li data-bind="validationMessage: ConfirmPassword"></li>
                            </ul>*@
                        </div>
                        <div data-bind='validationOptions: { messageTemplate: "customMessageTemplate" }'>
                            <p></p>
                            <input type="text" data-bind="value: EmailAddress" class="form-control" id="EmailAddress" placeholder="@LabelResources.EmailPlaceholderText">
                            <p></p>
                            <input type="password" data-bind="value: Password" class="form-control" id="Password" placeholder="@LabelResources.PasswordPlaceolderText">
                            <p></p>
                            <input placeholder="@LabelResources.ConfirmPasswordPlaceholderText" class="form-control" type="password" data-bind="value: ConfirmPassword, visible: NewUser" id="divConfirmPassword" />
                        </div>
                        <div>
                            <p></p>
                            <button data-bind="click: SignIn" class="btn btn-lg btn-primary btn-block" type="submit">@LabelResources.SignInButtonText</button>

                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <!-- /container -->
    <div id="loading">
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/knockout-validation")
    @Scripts.Render("~/bundles/bootstrap")
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/CustomCore.css">
    @Scripts.Render("~/Scripts/jquery-ui-1.10.3.js")
    @Scripts.Render("~/Scripts/GlobalResources.js")
    @Scripts.Render("~/Scripts/knockout.mapping-latest.js")
    @Scripts.Render("~/Scripts/Custom.js")
    @Scripts.Render("~/Scripts/User/LoginViewModel.js")
    <script>
        var apikey = '@(System.Configuration.ConfigurationManager.AppSettings["FacebookAPIKey"].ToString())';
        window.fbAsyncInit = function () {
            FB.init({
                appId: apikey,
                status: false, // check login status
                cookie: true, // enable cookies to allow the server to access the session
                xfbml: true  // parse XFBML
            });

            FB.getLoginStatus(function (response) {
                if (response.status === 'connected') {
                    login(response.authResponse.userID, response.authResponse.accessToken);
                } else {
                    FB.Event.subscribe('auth.login', function (response) {
                        login(response.authResponse.userID, response.authResponse.accessToken);
                    });
                }
            });
        };

        var selfModel = new UserLoginViewModel();

        $(document).ready(function () {

            ko.applyBindings(selfModel);

            $("#dialog-form").dialog("open");
            $("#dialog-form").show();

        });

        function login(userID, accessToken) {
            selfModel.loginWithFaceBook(userID, accessToken);
        }


        $("#dialog-form").dialog({
            autoOpen: false,
            height: 400,
            width: 600,
            modal: true,
        });
    </script>
</body>
</html>
